{include file="library/page_header.htm"}

<div class="gheader">
  <a href="advice.html"><div class="gtitle">投诉建议</div></a>
</div>

<div class="gcontent">
<div class="gbox">
<div class="gmain">

<div class="cardexplain">
 {if $act==default}
	<ul class="round">
	  <li>
		<a href="advice.html?act=mine"><span>我的投诉与建议<em class="ok">{insert name=get_advice_mine}</em></span></a>
	  </li>
	</ul>
	<ul class="round">
	  <li>
		<h2>投诉建议说明</h2>
	    <div class="text">
		  您可以在这里输入对我们的建议或投诉，请输入您要投诉或建议的内容，我们会在第一时间进行答复。若是紧急情况，您也可以拨打投诉与建议电话：{$phone}
		</div>
	  </li>
	</ul>

	<ul class="round">
		<li class="tel"><a href="tel:{$phone}"><span>快捷拔号： {$phone}</span></a></li>
	</ul>

	<ul class="round">
		<form action="advice.html" method="post" enctype="multipart/form-data" id="advice">
		<li class="title mb"><span class="none">请认真填写表单</span></li>
		<li class="nob">
		<table width="100%" cellspacing="10px">
		 <tr>
		   <td><input type="text" name="name" placeholder="请输入姓名" style="border:1px solid #ccc;border-radius:5px;width:100%;height:30px;line-height:30px;text-indent:5px;font-size:16px;color:#666"></td>
		 </tr>
		 <tr>
		   <td><input type="text" name="phone" placeholder="请输入联系电话" style="border:1px solid #ccc;border-radius:5px;width:100%;height:30px;line-height:30px;text-indent:5px;font-size:16px;color:#666"></td>
		 </tr>
		 <tr>
		   <td>
		    <textarea name="content" placeholder="请输入投诉/建议内容" style="width:100%;height:80px;border-radius:5px;border:1px solid #ccc;line-height:30px;text-indent:5px;font-size:16px;color:#666"></textarea>
		   </td>
		 </tr>
		</table>
		</li>
		<input type="hidden" name="act" value="act_default">
		</form>
    </ul>
	
	<div class="footReturn">
		<input id="showcard" class="submit" value="确认提交投诉/建议内容" type="button" onclick="javascript:AjaxSubmit('advice');"> 
	</div>
 {/if}
 
 {if $act==mine}
    <ul class="round asklistnav">
	  <li style="width:42%;float:left;border:0;text-align:center;{if $status==0}background:#ccc{/if}">
		<a href="advice.html?act=mine"  ><span>待处理</span></a>
	  </li>
	  <li style="width:42%;float:right;border:0;text-align:center;{if $status==1}background:#ccc{/if}">
		<a href="advice.html?act=mine&status=1"  ><span>已完成</span></a>
	  </li>
	  <div class="clear"></div>
	</ul>
   
   {if !empty($log)}
	{foreach from=$log item=l}
	<ul class="round">
	  <li class="title">
		<span>
		  发起时间：{$l.add_time}
		  <em class="no">{if $l.status==0}待处理{/if}{if $l.status==1}已处理{/if}{if $l.status==2}已撤销{/if}</em>
		</span>	
	  </li>
	  <li>
	   <div class="text">
				<p>联系人：{$l.name}</p>				
				<p>联系电话：{$l.phone}</p>								
			    <p>投诉/建议：{$l.content}</p>
                {if $l.reply!=""}<div class="color999"><p>物业反馈：{$l.reply}</div></p>{/if}
				<div class="footReturn">
				{if $status==0}							
				  <input  class="submit" value="撤销投诉/建议" type="button" onclick="javascript:canceladvice({$l.advice_id});"/>
                  <script type="text/javascript">  
                  /* 撤销投诉/建议 */
                  function canceladvice(advice_id)
                  {
                     if(confirm("撤销后，该投诉或建议将不会被处理，确认撤销？"))
	                 {
	                     $.post("advice.html", {
		                                        act:'cancel', advice_id:advice_id },
                         function(data)
                         {
	                        var data = json_decode(data);
	                        if(data.error==0)
	                        {
	                           alertMsg(data.data);
		                       if(data.href)
		                       {
		                           setTimeout(function(){
			                                               window.location.href=data.href},1500);
		                       }
		                       else
		                       {
	                               setTimeout("window.location.reload();",1500);
	                           }
	                        }
	                        if(data.error==1)
	                        {
		                        confirm(data.data);   
	                        }
                        });
	                 }   
                  }
                  </script>	
				{else}
				  <input  class="submit" value="删除投诉/建议" type="button" onclick="javascript:deleteadvice({$l.advice_id});"/>
                  <script type="text/javascript">  
                  /* 撤销投诉/建议 */
                  function deleteadvice(advice_id)
                  {
                     if(confirm("撤销后，该投诉或建议将不会被保留，确认撤销？"))
	                 {
	                     $.post("advice.html", {
		                                        act:'delete', advice_id:advice_id },
                         function(data)
                         {
	                        var data = json_decode(data);
	                        if(data.error==0)
	                        {
	                           alertMsg(data.data);
		                       if(data.href)
		                       {
		                           setTimeout(function(){
			                                               window.location.href=data.href},1500);
		                       }
		                       else
		                       {
	                               setTimeout("window.location.reload();",1500);
	                           }
	                        }
	                        if(data.error==1)
	                        {
		                        confirm(data.data);   
	                        }
                        });
	                 }   
                  }
                  </script>					  			 
	            {/if}
				</div>
	   </div>
	  </li>
    </ul>
	{/foreach}
	{include file="library/page.htm"}
   {else}
     <p style="text-align:center">没有符合条件的投诉或建议哦！</p>
   {/if}
 {/if}
</div>

</div>
</div>
</div>
{include file="library/page_footer.htm"}